WebRegistro/src/conf/xml-resources/web-service-references/RegistroCliente/wsdl/localhost_8080/RegistrarClienteWS/RegistroCliente.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS/">

<xs:element name="Registrar" type="tns:Registrar" />

<xs:element name="RegistrarResponse" type="tns:RegistrarResponse" />

<xs:complexType name="Registrar">
<xs:sequence>
<xs:element name="IDCliente" type="xs:int" />
<xs:element name="Nombre" type="xs:string" minOccurs="0" />
<xs:element name="Telefono" type="xs:string" minOccurs="0" />
<xs:element name="String" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>