RegistroWeb/RegistroWeb/Connected Services/ServiceReferenceReporte/ReporteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IDServicio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IDServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDServicioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDServicio" type="xs:int" />
        <xs:element minOccurs="0" name="FechaReporte" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HoraTrabajo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertReporteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Factura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDServicio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FacturaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>